html, body {
  height:100%;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: beige;
}

img {
  height: 300px;
  width: 400px;
  border-radius: 45%;
}

.center-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
.square {
  height: 100%;
  max-width: 100%;
  background-color: #555;
  border: 20px solid beige;
}

.background {
  background-color: beige;
}

.space {
  color: #555;
}

.back-button {
  background-color: beige;
  margin-top: 2em;
  margin-left: 2em;
  padding: 15px 32px;
  border-radius: 2em;
}

.back-button:hover {
  background-color: rgb(204, 204, 156);
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.main-text-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.main-text-links:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(153, 153, 153);
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.main-text-dividers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.icons {
  height: 30px;
  width: 30px;
  background-color: beige;
}

.icons:hover {
  height: 30px;
  width: 30px;
  background-color: rgb(153, 153, 153);
}

.link-space {
  margin-left: 1em;
  margin-right: 1em;
}